---
import Toggle from '@components/toggle/Toggle.astro';
import styles from './styles.module.scss';
// import { getCollection } from 'astro:content';

// const regions = await getCollection('regions');
// console.log('reg', regions);
---

<nav class={styles.wrapper}>
  <header class={styles.header}>
    <Toggle
      class=`${styles['nav-toggle']} after-icon`
      name="nav-toggle"
      id="nav-toggle"
      label="Navigation"
    />
  </header>

  <div class={styles.body}>
    <Toggle
      class=`${styles['body-toggle']} ${styles.sites} after-icon before-icon`
      name="site-toggle"
      id="site-toggle"
      label="Sites"
    />
    <ul>
      <li>aaa</li>
      <li>bbb</li>
      <li>ccc</li>
    </ul>
  </div>

  <div class={styles.body}>
    <Toggle
      class=`${styles['body-toggle']} ${styles.pages} after-icon before-icon`
      name="page-toggle"
      id="page-toggle"
      label="Pages"
    />
    <ul>
      <li>aaa</li>
      <li>bbb</li>
      <li>ccc</li>
    </ul>
  </div>

  <div class={styles.body}>
    <Toggle
      class=`${styles['body-toggle']} ${styles.contents} after-icon before-icon`
      name="content-toggle"
      id="content-toggle"
      label="Contents"
    />
    <ul>
      <li>aaa</li>
      <li>bbb</li>
      <li>ccc</li>
    </ul>
  </div>

  <div class={styles.body}>
    <Toggle
      class=`${styles['body-toggle']} ${styles['dev-tools']} after-icon before-icon`
      name="dev-tools-toggle"
      id="dev-tools-toggle"
      label="Dev Tools"
    />
    <ul>
      <li>aaa</li>
      <li>bbb</li>
      <li>ccc</li>
    </ul>
  </div>
</nav>
