---
import { CSite } from '@classes/collection/CSite';
import { CollectionEntryForm } from '@components/form/CollectionEntryForm';
import CollectionDataLists from '@components/form-element/CollectionDataLists.astro';
import Link from '@components/link/Link.astro';
import DefaultLayout from '@layouts/Default.astro';
import styleEntry from '@styles/pages/site-entry.module.scss';
import stylesSite from '@styles/sites.module.scss';

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/404');
}

const site = await CSite.getEntryFromCollection(id);
if (!site) {
  return Astro.redirect('/404');
}

const contentProps = {
  datalistCountries: 'data-countries',
  datalistLanguages: 'data-languages',
  datalistRegions: 'data-regions',
};
---

<DefaultLayout>
  <Link class={`${styleEntry.back} before-icon`} href="/sites/list">back</Link>
  <h1 class={stylesSite.title}>
    <span class={stylesSite.id}>{site.id}</span>
    <span class={stylesSite.name}>{site.name}</span>
  </h1>
  <CollectionEntryForm
    client:only="solid-js"
    class={styleEntry.form}
    contentProps={contentProps}
    entry={site}
    preset="site"
  />
  <CollectionDataLists />
</DefaultLayout>
