---
import Listing from '@layouts/Listing.astro';
import { getParsedCollection } from '@utils/collection';
import styles from '@styles/pages/site-list.module.scss';

const dataCountries = await getParsedCollection('countries', ({ data }) => data.id);
const dataLanguages = await getParsedCollection('languages', ({ data }) => data.iso);
const dataRegions = await getParsedCollection('regions', ({ data }) => data);
---

<Listing title="Sites">
  <slot slot="filters">
    <p>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
    </p>
    <p>
      <label for="region">Region:</label>
      <input type="text" id="region" list="data-region" name="region" />
    </p>
    <p>
      <label for="countries">Countries (split by comma ","):</label>
      <input type="text" id="countries" name="countries" />
      <input
        type="text"
        class={styles['filter-add']}
        id="add-country"
        list="data-country"
        name="add-country"
      />
    </p>
    <p>
      <label for="languages">Languages (split by comma ","):</label>
      <input type="text" id="languages" name="languages" />
      <input
        type="text"
        class={styles['filter-add']}
        id="add-language"
        list="data-language"
        name="add-language"
      />
    </p>
    <p>
      <label for="start">Start:</label>
      <input type="datetime-local" id="start" name="start" />
    </p>
    <p>
      <label for="end">End:</label>
      <input type="datetime-local" id="end" name="end" />
    </p>

    <datalist id="data-country">
      {dataCountries.sort().map((entry) => <option value={entry} />)}
    </datalist>

    <datalist id="data-language">
      {dataLanguages.sort().map((entry) => <option value={entry} />)}
    </datalist>

    <datalist id="data-region">
      {
        dataRegions.sort().map((entry) => (
          <option data-id={entry.id} data-name={entry.name}>
            {entry.name}
          </option>
        ))
      }
    </datalist>
  </slot>

  <article slot="entry" class={`${styles.entry} entry`} data-id="{id}">
    <p class={styles.title}>
      <span class={styles.id}>{'{id}'}</span>
      <span class={styles.name}>{'{name}'}</span>
    </p>
    <p>
      Dates:
      <span class={styles.start}>{'{start}'}</span>
      <span class={styles.end}>{'{end}'}</span>
    </p>
    <p>
      Region:
      <span class={styles.region}>{'{region}'}</span>
    </p>
    <p>
      Countries:
      <span class={styles.countries}>{'{countries}'}</span>
    </p>
    <p>
      Languages:
      <span class={styles.langs}>{'{langs}'}</span>
    </p>
  </article>
</Listing>

<script src="@scripts/pages/site-list.ts"></script>
