---
import { API_PREFIX, GIT, VERSION } from '@utils/configs';
import styles from './styles.module.scss';

const user = Astro.locals.user;
const avatarUrl =
  user.isLoggedIn &&
  `https://api.dicebear.com/9.x/lorelei/svg?flip=false&seed=${user.name}&size=64`;

const date = new Date(GIT.timestamp * 1000);
const formUrl = `${API_PREFIX}v1/logout`;
---

<header class={styles.header}>
  <h1 class={styles.title}>Test-CMS</h1>
  <div class={styles.details}>
    <p><span>Version</span>{VERSION}</p>
    <p><span>Hash</span>{GIT.shortHash}</p>
    <p><span>Tag</span>{GIT.tag}</p>
    <p><span>Committed</span>{date.toISOString()}</p>
  </div>

  {
    user.isLoggedIn && (
      <div class={styles.loggedin}>
        <img alt="avatar" class={styles.avatar} src={avatarUrl} />
        <p class={styles.name}>{user.name}</p>
        <form action={formUrl} class={styles.logout} id="logout" method="post">
          <input type="hidden" name="logout" value="1" />
          <button type="submit">log out</button>
        </form>
      </div>
    )
  }
</header>

<script>
  import { deleteCookie } from '@utils/cookie';
  import { COOKIE_AUTH } from '@utils/configs';
  import { useRequest } from '@utils/request';

  const form = document.getElementById('logout') as HTMLFormElement;
  form?.addEventListener('submit', async (event) => {
    event.preventDefault();

    const { action } = await useRequest({
      method: form.method,
      url: form.action,
    });

    if (action === 'delete') {
      deleteCookie(COOKIE_AUTH);
      window.location.reload();
    }
  });
</script>
